---
- name: Instalar fail2ban
  apt:
    name: fail2ban
    state: present
  become: true

- name: Copy jail.local.j2 template to jail.local
  ansible.builtin.template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    owner: root
    group: root
    mode: '0644'
  notify: Restart fail2ban
  become: true